# 数据库连接
DATABASE_URL=postgresql://用户名:密码@127.0.0.1:5432/数据库名

LLM_API_KEY=your_llm_api_key
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL=qwen-plus

# 高德地图 Key，如果项目需要
AMAP_KEY=请填写你的高德Key
# 智谱 AI 配置
ZHIPUAI_API_KEY=请填写你的智谱API_KEY
ZHIPUAI_MODEL=glm-4.5-flash
ZHIPUAI_BASE_URL=https://open.bigmodel.cn/api/paas/v4/
# 用户注册登录 Token 密钥
AUTH_SECRET_KEY=这里换成你自己的随机复杂字符串